/*
Colors:
  Header:
    Background: #3498DB
  QR Code Outline:
    Background: #5D417F
  QR Code:
    Border: #2C3E50
  Info:
    Background: #94CCF2
*/
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#tagName{
  width: 100%;
  height: 300px;
  line-height: 200px;
  position: fixed;
  background: #3498DB;
  text-align: center;
  font-family: 'RobotoDraft';
  font-weight: bold;
  font-size: 72px;
  color: #FFFFFF;
  z-index: 1;
}

#qrContainer{
  width: 300px;
  height: 278px;
  margin: auto;
  margin-top: 170px;
  padding-top: 10px;
  position: relative;
  background: #5D417F;
  z-index: 2;
}

#qrContainer img{
  width: 256px;
  height: 256px;
  margin: auto;
  margin-left: 17px;
  position: relative;
  display: block;
  border: 5px solid #2C3E50;
  z-index: 4 !important;
}

#smallTagName{
  width: 266px;
  height: 43px;
  line-height: 43px;
  top: 127px;/* 102 */
  left: calc(50% - 13px);
  display: block;
  position: relative;
  background: #00BCD4;
  border-bottom: 4px solid #FFFF8D;
  text-align: center;
  font-family: 'RobotoDraft';
  font-weight: bold;
  font-size: 36px;
  color: #FFFFFF;
  z-index: 3 !important;
}

#info{
  width: 400px;
  height: 100%;
  margin: auto;
  margin-top: 50px;
  background: #94CCF2;
  text-align: center;
  font-family: 'RobotoDraft';
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
}

#info div{
  margin-top: 10px;
  display: inline-block;
}

.name{

}

.value{

}
